@import url("bootstrap.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");

* {
    font-family: 'Open Sans', sans-serif !important;
}

.jumbotron {
    padding-left: 0;
    padding-right: 0;
}

.jumbotron img {
    width: 100%;
    clear: both;
    margin-top: 2em; 		/*eliminate*/
}

/* TO DO
   make background blue on hover nav links
   put in facebook and twitter icons
   */

.nav li:hover {
    background-color: #00acd5 !important;
    color: white !important;
}

.text-justify {
    text-align: justify;
}

#location-map {
    min-height: 400px;
    width: 100%;
    border: none;
}

#navbar-social-icons li a {
    padding: 0;
    margin-right: 1em;
}

#navbar-social-icons li:hover {
    background: none !important;
}

/*
  @media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

*/

/* http://stackoverflow.com/questions/2896869/jquery-changing-css-on-navigation-when-div-scrolls-into-view/2898109#2898109 */

/*
.landing-bannedr {
    background: url('/images/banner-transparent.png') no-repeat center center fixed;
/*    background-size: 100% !important; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.landing-banner {
     background: url('/images/banner-transparent.png');
    min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling 
  width: 100%;
  height: auto;
	
  /* Set up positioning 
  position: fixed;
  top: 0;
  left: 0;
  }

*/